{% extends "myapp/bones/centered.html" %}

{% block title %}opyn.error.{{ error_code }}{% endblock %}
{% block main_text %}{{ error_code }}.{% endblock %}


{% block extra %}

<div class="flex flex-col my-6">
    <a href="{% url 'myapp:index' %}"
       class="mx-1 px-2 py-[8px] max-w-min mx-auto
           bg-gray-100 rounded border-0
           focus:ring focus:ring-indigo-700 focus:ring-offset-2 focus:outline-none
           hover:bg-gray-300 hover:cursor-pointer
           active:bg-gray-400">home</a>
</div>

{% endblock %}
