{% extends "myapp/bones/centered.html" %}

{% block title %}opyn{% endblock %}
{% block main_text %}opyn.{% endblock %}
{% block text %}<a href="https://rentry.co/" class="markdown-link">rentry</a> rip-off.{% endblock %}


{% block extra %}

<div class="flex flex-row mt-6 mx-auto">
    <a href="{% url 'myapp:create' %}"
       class="mx-2 px-2 py-[8px] max-w-min
           bg-gray-100 rounded border-0
           focus:ring focus:ring-indigo-700 focus:ring-offset-2 focus:outline-none
           hover:bg-gray-300 hover:cursor-pointer
           active:bg-gray-400">create</a>
    <a href="https://github.com/Spaceginner/opyn"
       class="mx-2 px-2 py-[8px] max-w-min
           bg-gray-100 rounded border-0
           focus:ring focus:ring-indigo-700 focus:ring-offset-2 focus:outline-none
           hover:bg-gray-300 hover:cursor-pointer
           active:bg-gray-400">github</a>
</div>

{% endblock %}
