{% extends "myapp/bones/contained.html" %}

{% block title %}opyn.raw{% endblock %}

{% block container %}
<div class="h-full box-border grow">
    <textarea name="content" maxlength="262144" placeholder="markdown goes here."
              class="resize-none h-full mx-1 w-full
              bg-gray-100 rounded border-0
              focus:ring focus:ring-indigo-700 focus:ring-offset-2">{{ raw_markdown }}</textarea>
</div>

<div class="text-left mt-8 h-[40px]">
    <a href="{% url 'myapp:view' current_url %}"
       class="mx-1 px-2 h-[8px] py-[12px]
       bg-gray-100 rounded border-0
       focus:ring focus:ring-indigo-700 focus:ring-offset-2 focus:outline-none
       hover:bg-gray-300 hover:cursor-pointer
       active:bg-gray-400">compiled</a>
</div>
{% endblock %}
